@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --main-color: #ffc356;
  --title-color: #030303;
  --text-color: #333;
  --text-color-w: #f0f0f0;
}
html {
  font-size: 62.5%; /* 1rem = 10px */
  scroll-behavior: smooth;
  overflow-y: scroll;
  -ms-overflow-style: none;
}
body {
  font: 2rem/1.5 'SUIT', sans-serif;
  color: var(--text-color);
  text-transform: capitalize;
  overflow-x: hidden;
  word-break: keep-all;
  /* text-transform: capitalize; // ttu, 앞 대문자//ttc 전부 대문자 */
  background-color: #fefefe;
}
.prevent {
  overflow-y: hidden;
}
b {
  display: block;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

hr,
.hidden {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

::selection {
  background: var(--main-color);
  color: #fff;
}
img {
  max-width: 100%;
}
button,
label,
a {
  cursor: pointer;
}

.inner {
  width: 175.6rem;
  margin: 0 auto;
  /* background: rgba(110, 97, 255, 0.3); */
}

/* dim */
.dim {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
  z-index: 90;
  opacity: 0;
  visibility: hidden;
}

/* header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  mix-blend-mode: difference;
  /* background: rgba(255, 43, 43, 0.2); */
  z-index: 900;
  transition: 0.3s;
  font-weight: 300;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  position: relative;
  color: var(--text-color-w);
}
nav h1 {
  margin-left: 5%;
}
/* menu icon */
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.menu-icon {
  position: relative;
  width: 5rem;
  height: 5rem;
}

.menu-icon .menu-icon_cheeckbox {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  z-index: 2;
  -webkit-touch-callout: none;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
}

.menu-icon div {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 22px;
  height: 12px;
}
.menu-icon span {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--bar-bg, #fff);
  border-radius: 1px;
  transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
}
.menu-icon span:last-child {
  margin-top: 1rem;
}
.menu-icon.active span:first-of-type,
.menu-icon .menu-icon_cheeckbox:checked + div span:first-of-type {
  transform: rotate(45deg);
  top: 5px;
}
.menu-icon.active span:last-of-type,
.menu-icon .menu-icon_cheeckbox:checked + div span:last-of-type {
  transform: rotate(-45deg);
  bottom: 5px;
}

.logo a {
  display: block;
  width: 4rem;
  height: 4rem;
  background: url(../img/favicon.png) no-repeat 0 0 / contain;
}
.submenu {
  display: flex;
}
.submenu > li {
  position: relative;
}
.submenu > li > a {
  display: block;
  padding: 0 1.2rem;
}

/* menu btn */
.menu-open {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 21%;
  height: 100vh;
  background-color: var(--text-color-w);
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  color: var(--title-color);
  font-weight: 500;
  letter-spacing: -0.5px;
}
.menu-open.active {
  transform: translateX(0);
}
.menu-open::before {
  content: '';
  position: absolute;
  top: 8%;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background: #dedede;
}
.menu-list-products {
  position: absolute;
  top: 12%;
  left: 0;
  padding-left: 25%;
  width: auto;
}
.menu-list-products li {
  margin-top: 2rem;
}
.menu-list-products > li:nth-child(n + 2):nth-child(-n + 7) {
  font-size: 1.7rem;
}
.menu-list-detail ul {
  margin-top: 5rem;
}
.menu-list-detail ul li a,
.menu-list-plus ul li a,
.menu-list-products li a {
  position: relative;

  width: auto;
}
.menu-list-plus ul {
  color: var(--text-color);
  font-weight: 400;
  font-size: 1.6rem;
  margin-top: 25rem;
}

.menu-list-products li a::after,
.menu-list-detail ul li a::after,
.menu-list-plus ul li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 1px;
  background: var(--text-color);
  transition: width 0.2s ease-in-out;
}

.menu-list-products li a:hover::after,
.menu-list-detail ul li a:hover::after,
.menu-list-plus ul li a:hover::after {
  width: 100%;
}

/* footer */
#footer {
  background: var(--title-color);
  color: var(--text-color-w);
  padding: 5.25% 0 10.47%;
  font-family: 'Roboto';
  /* height: 72rem; */
}
.footer-wrap {
  height: auto;
}
.footer-con {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.8rem;
}
.footer-con li {
  display: block;
  max-width: 38rem;
}
.footer-con li:not(:first-child) {
  padding-left: 6.85%;
}

.footer-con strong {
  font-weight: 600;
}
.footer-con p {
  display: block;
  margin-top: 1.2rem;
  font-weight: 400;
}
.logo-footer {
  margin-top: 8rem;
  position: relative;
}
.logo-footer a {
  position: absolute;
  top: 0;
  left: 31%;
  display: block;

  color: var(--title-color);
  background-color: var(--main-color);
  border-radius: 22px;
  padding: 10px 15px;
}
.logo-footer a::before {
  content: '';
  position: absolute;
  bottom: -20%;
  left: -16%;
  display: block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: var(--main-color);
}
.logo-footer-wrap {
  font-family: 'SUIT';
  letter-spacing: -1rem;
  font-weight: 800;
  font-size: 18rem;
  position: relative;
}
.logo-footer-wrap .foo {
  position: absolute;
  top: 51.9%;
  right: 0rem;
}
.footer-wrap > p {
  display: flex;
  float: inline-end;
  margin-top: 10rem;
}

@media (max-width: 1800px) {
  .inner {
    width: 94%;
  }
  .logo-footer a {
    left: 35%;
  }
}
@media (max-width: 1500px) {
  .footer-con {
    font-size: 1.6rem;
  }
  .logo-footer a {
    left: 35%;
  }
  .logo-footer-wrap {
    font-size: 15rem;
  }
}
/* fz edit */
@media (max-width: 1450px) {
}

@media (max-width: 1350px) {
  #footer {
    padding: 5% 0 13%;
  }
}
@media (max-width: 1300px) {
  .menu-open {
    width: 30%;
  }
}
@media (max-width: 1280px) {
  .logo-footer a {
    left: 40%;
  }
  .menu-icon div {
    width: 20px;
  }
  .menu > p,
  .submenu {
    font-size: 1.8rem;
  }
  .logo a {
    width: 3.2rem;
    height: 3.2rem;
  }
  .menu-list-products {
    padding-left: 18%;
  }
}
@media (max-width: 1020px) {
  #footer {
    padding: 8% 0 25%;
  }
  .logo-footer-wrap .foo {
    top: 75%;
  }
  .footer-wrap > p {
    margin-top: 15rem;
  }
  .logo-footer a {
    left: 50%;
  }
}
@media (max-width: 900px) {
  .logo-footer a {
    left: 55%;
  }
}

/* tablet */
@media (max-width: 834px) {
  .menu-open.active {
    width: 40%;
  }
  .menu-list-products > li {
    font-size: 1.8rem;
  }
  .menu-list-products > li:nth-child(n + 2):nth-child(-n + 7) {
    font-size: 1.5rem;
  }

  #footer {
    padding-bottom: 30%;
  }
  .footer-con {
    display: block;
  }
  .logo-footer {
    margin-top: 5rem;
  }
  .footer-con li:not(:first-child) {
    padding-left: 0rem;
    margin-top: 4rem;
  }
  .logo-footer-wrap {
    font-size: 12rem;
    letter-spacing: -0.5rem;
  }
}
@media (max-width: 700px) {
  .footer-con li {
    font-size: 1.6rem;
  }
  .logo-footer-wrap {
    font-size: 10rem;
  }
  .logo-footer a {
    left: 50%;
    font-size: 1.5rem;
  }
  .footer-wrap > p {
    font-size: 1.4rem;
  }
}
@media (max-width: 640px) {
  #footer {
    padding-bottom: 40%;
  }
  .logo-footer a {
    left: 60%;
  }
  .logo-footer a::before {
    width: 10px;
    height: 10px;
  }
}
@media (max-width: 550px) {
  .logo-footer-wrap {
    font-size: 8rem;
  }
}
@media (max-width: 425px) {
  .menu > p {
    opacity: 0;
  }
  .submenu > li {
    text-indent: -9999px;
    width: 28px;
    height: 28px;
  }
  .submenu > li:first-child {
    background: url(../img/cart-outline.png) no-repeat 0 0 / contain;
  }
  .submenu > li:last-child {
    background: url(../img/user-outline.png) no-repeat 0 0 / contain;
    margin-left: 1.5rem;
  }
  nav h1 {
    margin-right: 4rem;
  }
  .menu-open.active {
    width: 60%;
  }
  .menu-list-products > li {
    font-size: 1.6rem;
    font-weight: 400;
  }
  .logo-footer-wrap {
    font-size: 6.4rem;
  }
  .footer-wrap > p {
    margin-top: 8rem;
  }
  .logo-footer a {
    padding: 1rem 1.5rem;
    font-weight: 300;
  }
  .footer-con li:not(:first-child) {
    margin-top: 3rem;
  }
}
