@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --main-color: #ffc356;
  --title-color: #030303;
  --text-color: #222;
  --text-color-w: #f0f0f0;
}
html {
  font-size: 62.5%; /* 1rem = 10px */
  scroll-behavior: smooth;
  overflow-y: scroll;
  -ms-overflow-style: none;
}
body {
  font: 2rem/1.5 'SUIT', sans-serif;
  color: var(--text-color);
  text-transform: capitalize;
  overflow-x: hidden;
  word-break: keep-all;
  /* text-transform: capitalize; // ttu, 앞 대문자//ttc 전부 대문자 */
}
b {
  display: block;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

hr,
.hidden {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

::selection {
  background: var(--main-color);
  color: #fff;
}
img {
  max-width: 100%;
}
button,
label,
a {
  cursor: pointer;
}

.inner {
  width: 175.6rem;
  margin: 0 auto;
  background: rgba(110, 97, 255, 0.3);
}

/* header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 43, 43, 0.2);
  z-index: 100;
  transition: 0.3s;
  font-weight: 300;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  position: relative;
  color: #fff;
}
/* menu icon */
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.menu-icon {
  position: relative;
  width: 5rem;
  height: 5rem;
}

.menu-icon .menu-icon_cheeckbox {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  z-index: 2;
  -webkit-touch-callout: none;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
}

.menu-icon div {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 22px;
  height: 12px;
}
.menu-icon span {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--bar-bg, #fff);
  border-radius: 1px;
  transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
}
.menu-icon span:last-child {
  margin-top: 1rem;
}
/* .menu-icon span:first-of-type {
  top: 0;
}
.menu-icon span:last-of-type {
  bottom: 0;
} */
.menu-icon.active span:first-of-type,
.menu-icon .menu-icon_cheeckbox:checked + div span:first-of-type {
  transform: rotate(45deg);
  top: 5px;
}
.menu-icon.active span:last-of-type,
.menu-icon .menu-icon_cheeckbox:checked + div span:last-of-type {
  transform: rotate(-45deg);
  bottom: 5px;
}

.logo a {
  display: block;
  width: 4rem;
  height: 4rem;
  background: url(../img/favicon.png) no-repeat 0 0;
}
.submenu {
  display: flex;
}
.submenu > li {
  position: relative;
}
.submenu > li > a {
  display: block;
  padding: 0 1.2rem;
}

/* btn */

/* footer */
#footer {
  background: var(--title-color);
  color: var(--text-color-w);
  padding: 8rem 0 3rem;
  font-family: 'Roboto';
  /* height: 72rem; */
}
.footer-wrap {
  height: 58rem;
}
.footer-con {
  display: flex;
  font-size: 2.2rem;
}
.footer-con li {
  display: block;
  width: 42rem;
}
.footer-con li:not(:first-child) {
  margin-left: 22rem;
}
.footer-con strong {
  font-weight: 600;
}
.footer-con p {
  display: block;
  margin-top: 1.2rem;
  font-weight: 400;
}
.logo-footer {
  margin-top: 5rem;
  position: relative;
}
.logo-footer a {
  position: absolute;
  top: 0;
  left: 31%;
  display: block;
  width: 12rem;
  height: 4.6rem;
  color: var(--title-color);
  background-color: var(--main-color);
  border-radius: 22px;
  padding: 10px 15px;
}
.logo-footer a::before {
  content: '';
  position: absolute;
  bottom: -20%;
  left: -16%;
  display: block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: var(--main-color);
}
.logo-footer-wrap {
  font-family: 'SUIT';
  letter-spacing: -1rem;
  font-weight: 800;
  font-size: 18rem;
  position: relative;
}
.logo-footer-wrap .foo {
  position: absolute;
  top: 14rem;
  right: 0rem;
}
.footer-wrap > p {
  display: flex;
  float: inline-end;
  margin-top: 10rem;
}
