@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
.cursor {
  font-size: 2rem;
  font-weight: 300;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 13rem;
  height: 4.6rem;
  color: var(--title-color);
  background-color: var(--main-color);
  border-radius: 22px;
  padding: 8px 17px;
  pointer-events: none;
  user-select: none;
  transform: translate(-10px, -5px) scale(0.1); /* 기본적으로 작게 설정 */
  opacity: 0; /* 기본적으로 투명 */
  transition: 0.15s ease-out, opacity 0.3s ease-out;
}
.cursor::before {
  content: '';
  position: absolute;
  bottom: -20%;
  left: -16%;
  display: block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: var(--main-color);
}

.sec-cursor {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 990;
  top: 0;
  left: 0;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.3);
  color: var(--text-color-w);
  text-shadow: 1px 1px 2px #9a9a9a;
  transition: 0.2s;
  transform: translate(-50%, -50%);

  backdrop-filter: blur(3px);
}
.sec-cursor::after {
  content: '';
  background-image: url(../img/arrow01.svg);
  width: 2.5rem;
  height: 1.5rem;
  display: block;
  margin-left: 2rem;
}

/* visual-slide */

.visual {
  position: relative;
}
.visual-pagination {
  position: absolute;
  z-index: 30;
  color: var(--text-color-w);
  top: 40%;
  right: 5%;
  /* background: #f5f; */
}
.visual-pagination span:last-child::before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 1px;
  height: 3rem;
  background: var(--text-color-w);

  margin-bottom: 1rem;
}

.visual-pagination > span {
  display: block;
  margin: 1rem auto;
  text-align: center;
  width: 3rem;
  opacity: 0.5;
}
.visual-pagination > span.active {
  opacity: 1;
  font-weight: 600;
}

.visual-slide .visual-el {
  width: 100%;
  height: 100vh;
  object-fit: fill;
}

.visual-title {
  position: absolute;
  bottom: 11%;
  left: 4%;
  color: var(--text-color-w);
  text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.25);
}
.visual-title h2 {
  font-family: 'Helvetica73';
  font-size: 6.2rem;
}
.visual-title p {
  display: block;
  margin-top: 1.3rem;
  font-family: 'ROBOTO';
}

/* our-story */
.our-story {
  margin-top: 16rem;
  position: relative;
  cursor: none;
}

h3 {
  font-size: 2.2rem;
  font-weight: 500;
}
.our-story-text {
  position: relative;
  font-family: 'ROBOTO';
}
.our-story-text strong {
  display: block;
  margin-top: 5rem;

  font-size: 9.6rem;
  /* background: #ff0; */
}
.abs {
  position: absolute;
  top: 30%;
  left: 26%;
}
.our-story-text strong > span {
  font-family: 'Pinyon Script';
  font-size: 12.6rem;
  line-height: 120%;
  text-transform: lowercase;
}
.our-story-text strong > b {
  display: inline;
  font-style: italic;
  font-weight: 500;
}
.our-story-text > p {
  margin-top: 15rem;
  width: 90rem;
  font-size: 2.5rem;
  line-height: 1.6;
  text-transform: none;
}
.our-story video {
  width: 25%;
  position: absolute;
  z-index: -1;
  bottom: -50%;
  right: 5%;
  object-fit: fill;
}

/* product */
.product {
  margin-top: 65rem;
  position: relative;
}
.product h3 {
  text-align: center;
  font-size: 2.8rem;
}
.product .more-icon {
  display: inline-block;
  margin-top: 6rem;
  float: inline-end;
  width: 11rem;
  height: 5rem;
  text-align: center;
  vertical-align: middle;
  padding: 1rem 0;
  /* background: #ff5; */
}
.more-icon::after {
  content: '';
  display: inline-block;
  margin-left: 1rem;
  background-image: url(../img/plusicon.svg);
  width: 1.4rem;
  height: 1.4rem;
}
.more-icon:hover::after {
  transform: rotate(90deg);
  transition: 0.3s;
}
.product-slide {
  margin-top: 12rem;
  margin-left: 4%;
}
.product-slide .swiper-wrapper {
  gap: 0 10px;
}
.product .product-title {
  position: relative;
  width: 43rem;
  aspect-ratio: 1/1;
}
.product-title::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.8) 48%, rgba(0, 0, 0, 0) 100%);
  transition: 0.4s;
  opacity: 0;
}
.product-title:hover::before {
  opacity: 0.3;
}
.product-title:hover .products-text {
  opacity: 1;
}
.product-title em {
  position: absolute;
  top: 4%;
  left: 4%;
  display: block;
  background: var(--title-color);
  color: var(--text-color-w);
  border-radius: 4px;
  padding: 5px 12px;
}
.product-title img {
  border-radius: 3px;
}
.products-text {
  position: absolute;
  bottom: 4%;
  left: 4%;
  color: var(--text-color-w);
  font-size: 2.8rem;
  font-weight: 500;
  font-family: 'ROBOTO';
  opacity: 0;
  transition: 0.3s;
}
.products-text p {
  font-weight: 400;
  font-size: 1.8rem;
}

.progress-bar {
  position: absolute;
  bottom: -3%;
  left: 4%;
  width: 90%;
  height: 6px;
  background: #ddd; /* 연회색 바 */
  overflow: hidden;
  border-radius: 6px;
}

.progress-bar-fill {
  height: 100%;
  width: 0%;
  background: #000; /* 검은색 진행 바 */
  transition: width 0.1s ease-out;
}

/* professional */
.professional {
  margin-top: 40rem;
}
